% 10texlive-lang-german.cnf
% You can change/add entries to this file and changes will be preserved
% over upgrades, even if you have removed the main package prior
% (not if you purged it). You should leave the following pseudo comment
% present in the file!
% -_- DebPkgProvidedMaps -_-
% 
name=ngerman file=loadhyph-de-1996.tex lefthyphenmin=2 righthyphenmin=2
name=german file=loadhyph-de-1901.tex lefthyphenmin=2 righthyphenmin=2
name=german-x-2009-06-19 file=dehypht-x-2009-06-19.tex lefthyphenmin=2 righthyphenmin=2 synonyms=german-x-latest
name=ngerman-x-2009-06-19 file=dehyphn-x-2009-06-19.tex lefthyphenmin=2 righthyphenmin=2 synonyms=ngerman-x-latest
